// Place all the styles related to the farms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.column-main {
	width: 770px;
}

.list-farm {
	border-top: solid 2px #d6ceb4;
}

.list−farm__wrap {
	padding-bottom: 50px;
}